USE [master]
GO
/****** Object:  Database [ClearView]    Script Date: 17.12.2024 20:52:19 ******/
CREATE DATABASE [ClearView]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClearView', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClearView.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClearView_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClearView_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClearView].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClearView]
GO
/****** Object:  Table [dbo].[ADRESLER]    Script Date: 17.12.2024 20:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADRESLER](
	[ADRES_ID] [int] IDENTITY(1,1) NOT NULL,
	[IL_ID] [int] NULL,
	[ILCE] [nvarchar](50) NULL,
	[ADRES_DETAY] [nvarchar](150) NULL,
	[POSTA_KODU] [varchar](10) NOT NULL,
	[BIREY_ID] [int] NULL,
	[SUBE_ID] [int] NULL,
 CONSTRAINT [PK_ADRESLER] PRIMARY KEY CLUSTERED 
(
	[ADRES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALAN_KODU]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALAN_KODU](
	[ALAN_KODU] [varchar](7) NOT NULL,
	[SEHIR_ADI_OPERATOR] [nvarchar](50) NULL,
 CONSTRAINT [PK_ALAN_KODU] PRIMARY KEY CLUSTERED 
(
	[ALAN_KODU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIREYLER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIREYLER](
	[BIREY_ID] [int] IDENTITY(1,1) NOT NULL,
	[BIREY_AD] [nvarchar](100) NULL,
	[BIREY_SOYAD] [nvarchar](100) NULL,
	[CINSIYET] [nvarchar](5) NULL,
	[DOGUM_TARIHI] [date] NULL,
	[KIMLIK_NO] [char](11) NULL,
	[BIREY_TURU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BIREYLER] PRIMARY KEY CLUSTERED 
(
	[BIREY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOKTORLAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOKTORLAR](
	[DOKTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[BIREY_ID] [int] NOT NULL,
	[SUBE_ID] [int] NULL,
	[MEZUNIYET_TARIHI] [date] NULL,
	[LISANS_NO] [nvarchar](15) NULL,
	[MESAI_BASLANGIC_SAATI] [time](0) NULL,
	[MESAI_BITIS_SAATI] [time](0) NULL,
	[BRANS] [nvarchar](50) NULL,
	[MAASI] [decimal](10, 0) NULL,
	[ISE_BASLAMA_TARIHI] [date] NULL,
	[CALISMA_DURUMU] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DOKTORLAR] PRIMARY KEY CLUSTERED 
(
	[DOKTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[E_POSTALAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_POSTALAR](
	[EPOSTA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EPOSTA_ADRESI] [nvarchar](100) NOT NULL,
	[BIREY_ID] [int] NULL,
	[SUBE_ID] [int] NULL,
 CONSTRAINT [PK_E_POSTALAR_1] PRIMARY KEY CLUSTERED 
(
	[EPOSTA_ID] ASC,
	[EPOSTA_ADRESI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EKIPMAN_BAKIM_KAYITLARI]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKIPMAN_BAKIM_KAYITLARI](
	[BAKIM_ID] [smallint] IDENTITY(1,200) NOT NULL,
	[EKIPMAN_ID] [int] NULL,
	[BAKIM_TARIHI] [date] NULL,
	[TESLIM_TARIHI] [datetime] NULL,
	[UCRETI] [decimal](18, 0) NULL,
	[NOTLAR] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_EKIPMAN_BAKIM_KAYITLARI] PRIMARY KEY CLUSTERED 
(
	[BAKIM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EKIPMANLAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKIPMANLAR](
	[EKIPMAN_ID] [int] IDENTITY(1,1000) NOT NULL,
	[SUBE_ID] [int] NOT NULL,
	[TEDARIKCI_ID] [smallint] NOT NULL,
	[EKIPMAN_ADI] [nvarchar](100) NOT NULL,
	[EKIPMAN_TURU] [nvarchar](50) NULL,
	[MARKA] [nvarchar](50) NULL,
	[STOK_MIKTARI] [smallint] NOT NULL,
	[BIRIM_FIYATI] [decimal](18, 2) NULL,
	[SON_KULLANMA_TARIHI] [date] NULL,
	[TESLIM_TARIHI] [date] NULL,
	[GARANTI_DURUMU] [nvarchar](20) NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[NOTLAR] [nvarchar](100) NULL,
 CONSTRAINT [PK_EKIPMANLAR] PRIMARY KEY CLUSTERED 
(
	[EKIPMAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATURALAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATURALAR](
	[FATURA_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEDAVI_ID] [int] NOT NULL,
	[PERSONEL_ID] [int] NOT NULL,
	[INDIRIM] [decimal](18, 0) NULL,
	[OLUSTURMA_TARIHI] [date] NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[NOTLAR] [nvarchar](100) NULL,
 CONSTRAINT [PK_FATURALAR] PRIMARY KEY CLUSTERED 
(
	[FATURA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GORUNTULER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GORUNTULER](
	[GORUNTULER_ID] [int] IDENTITY(10,19) NOT NULL,
	[SUBE_ID] [int] NOT NULL,
	[HASTA_ID] [int] NOT NULL,
	[DOKTOR_ID] [int] NOT NULL,
	[GORUNTU_TURU] [nvarchar](50) NULL,
	[GORUNTULEME_TARIHI] [date] NULL,
	[GORUNTU_DOSYA] [image] NULL,
	[ACIKLAMA] [nvarchar](max) NULL,
	[PERSONEL_ID] [int] NULL,
 CONSTRAINT [PK_GORUNTULER] PRIMARY KEY CLUSTERED 
(
	[GORUNTULER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOZLUK_RECETELERI]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOZLUK_RECETELERI](
	[GOZLUK_RECETE_ID] [int] IDENTITY(1,1) NOT NULL,
	[HASTA_ID] [int] NOT NULL,
	[DOKTOR_ID] [int] NOT NULL,
	[SAG_GOZ_DERECESI] [decimal](4, 2) NULL,
	[SOL_GOZ_DERECESI] [decimal](4, 2) NULL,
	[SILINDRIK_GUC] [decimal](4, 2) NULL,
	[ACI] [decimal](4, 2) NULL,
	[GOZLUK_RECETE_NO] [nvarchar](15) NULL,
 CONSTRAINT [PK_GOZLUK_RECETELERI] PRIMARY KEY CLUSTERED 
(
	[GOZLUK_RECETE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HASTALAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASTALAR](
	[BIREY_ID] [int] NULL,
	[HASTA_ID] [int] IDENTITY(1,1) NOT NULL,
	[KAN_GRUBU] [nvarchar](10) NULL,
	[KAYIT_TARIHI] [date] NULL,
	[KRONIK_HASTALIKLAR] [nvarchar](50) NULL,
	[ALERJILERI] [nvarchar](50) NULL,
	[VELISI] [nvarchar](50) NULL,
 CONSTRAINT [PK_HASTALAR] PRIMARY KEY CLUSTERED 
(
	[HASTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ILAC_RECETELER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ILAC_RECETELER](
	[RECETE_ID] [int] NOT NULL,
	[ILAC_ADI] [nvarchar](50) NULL,
	[ILAC_MIKTARI] [decimal](18, 0) NULL,
	[ILAC_BIRIMI] [varchar](30) NULL,
	[KULLANIM_TAVSIYESI] [text] NULL,
 CONSTRAINT [PK_ILAC_RECETELER] PRIMARY KEY CLUSTERED 
(
	[RECETE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ILLER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ILLER](
	[IL_ID] [int] IDENTITY(1,1) NOT NULL,
	[IL_ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_ILLER_1] PRIMARY KEY CLUSTERED 
(
	[IL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LABARATUAR_TESTLERI]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABARATUAR_TESTLERI](
	[LABARATUAR_TEST_ID] [int] IDENTITY(10,18) NOT NULL,
	[SUBE_ID] [int] NOT NULL,
	[HASTA_ID] [int] NOT NULL,
	[DOKTOR_ID] [int] NOT NULL,
	[ISLEM_TURU] [nvarchar](100) NULL,
	[SONUC] [nvarchar](100) NULL,
	[OLUSTURULMA_TARIHI] [date] NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[PERSONEL_ID] [int] NULL,
	[NOTLAR] [nvarchar](150) NULL,
 CONSTRAINT [PK_LABARATUAR_TESTLERI] PRIMARY KEY CLUSTERED 
(
	[LABARATUAR_TEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODEMELER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODEMELER](
	[ODEME_ID] [int] IDENTITY(1,1) NOT NULL,
	[FATURA_ID] [int] NOT NULL,
	[ODEME_TUTARI] [decimal](18, 0) NULL,
	[ODEME_TURU] [nvarchar](30) NULL,
	[ODEME_TARIHI] [date] NULL,
	[ODEME_DURUMU] [nvarchar](50) NULL,
 CONSTRAINT [PK_ODEMELER] PRIMARY KEY CLUSTERED 
(
	[ODEME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONELLER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONELLER](
	[BIREY_ID] [int] NULL,
	[PERSONEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBE_ID] [int] NOT NULL,
	[GOREV] [nvarchar](50) NULL,
	[MAASI] [decimal](10, 2) NULL,
	[MESAI_BASLANGIC_SAATI] [time](0) NULL,
	[MESAI_BITIS_SAATI] [time](0) NULL,
	[ISE_BASLAMA_TARIHI] [date] NULL,
	[CALISMA_DURUMU] [nvarchar](20) NULL,
	[GUNECLLEME_TARIHI] [date] NULL,
 CONSTRAINT [PK_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[PERSONEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANDEVULAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANDEVULAR](
	[RANDEVU_ID] [int] IDENTITY(4,4) NOT NULL,
	[SUBE_ID] [int] NOT NULL,
	[HASTA_ID] [int] NOT NULL,
	[DOKTOR_ID] [int] NOT NULL,
	[RANDEVU_TARIHI] [datetime] NULL,
	[RANDEVU_DURUMU] [nvarchar](50) NULL,
	[SIKAYET] [nvarchar](150) NULL,
	[TEDAVI_PLANI] [nvarchar](100) NULL,
	[GUNCEL_TARIHI] [date] NULL,
	[PERSONEL_ID] [int] NULL,
 CONSTRAINT [PK_RANDEVULAR] PRIMARY KEY CLUSTERED 
(
	[RANDEVU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAPORLAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPORLAR](
	[RAPOR_ID] [int] IDENTITY(10,15) NOT NULL,
	[HASTA_ID] [int] NOT NULL,
	[DOKTOR_ID] [int] NOT NULL,
	[SHIKAYET] [nvarchar](150) NULL,
	[TEHSIS] [nvarchar](150) NULL,
	[RAPOR] [nvarchar](150) NULL,
	[OLUSTURULMA_TARIHI] [datetime] NULL,
	[GUNCELLENME_TARIHI] [date] NULL,
 CONSTRAINT [PK_RAPORLAR] PRIMARY KEY CLUSTERED 
(
	[RAPOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECETELER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETELER](
	[RECETE_ID] [int] IDENTITY(2,2) NOT NULL,
	[SUBE_ID] [int] NULL,
	[HASTA_ID] [int] NULL,
	[DOKTOR_ID] [int] NULL,
	[RECETE_NO] [nvarchar](30) NULL,
	[RECETE_TARIHI] [date] NULL,
 CONSTRAINT [PK_RECETELER] PRIMARY KEY CLUSTERED 
(
	[RECETE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIGORTA_POLICE_HASTA]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGORTA_POLICE_HASTA](
	[SIGORTA_POLICE_HASTA_ID] [int] IDENTITY(1,1) NOT NULL,
	[POLICE_ID] [int] NULL,
	[HASTA_ID] [int] NULL,
	[PROVISYON] [nvarchar](30) NULL,
	[BITIS_TARIHI] [date] NULL,
 CONSTRAINT [PK_SIGORTA_POLICE_HASTA] PRIMARY KEY CLUSTERED 
(
	[SIGORTA_POLICE_HASTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIGORTA_POLICELERI]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGORTA_POLICELERI](
	[POLICE_ID] [int] IDENTITY(10,16) NOT NULL,
	[SIGORTA_SIRKET_ID] [int] NULL,
	[POLICE_NO] [nvarchar](50) NULL,
	[GECERLILIK_TARIH] [date] NULL,
	[BITIS_TARIHI] [date] NULL,
 CONSTRAINT [PK_SIGORTA_POLICELERI] PRIMARY KEY CLUSTERED 
(
	[POLICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIGORTA_SIRKETI]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGORTA_SIRKETI](
	[SIGORTA_SIRKET_ID] [int] IDENTITY(10,300) NOT NULL,
	[SIGORTA_SIRKET_ADI] [varchar](100) NULL,
	[VERGI_NO] [varchar](10) NULL,
 CONSTRAINT [PK_SIGORTA_SIRKETI] PRIMARY KEY CLUSTERED 
(
	[SIGORTA_SIRKET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBELER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBELER](
	[SUBE_ID] [int] IDENTITY(1,100) NOT NULL,
	[SUBE_ADI] [nvarchar](50) NULL,
	[ACILIS_TARIHI] [date] NULL,
	[DURUMU] [nvarchar](20) NULL,
	[TOPLAM_CALISAN] [smallint] NOT NULL,
	[KONUM] [geography] NULL,
 CONSTRAINT [PK_SUBELER] PRIMARY KEY CLUSTERED 
(
	[SUBE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEDARIKCILER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEDARIKCILER](
	[TEDARIKCI_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BIREY_ID] [int] NOT NULL,
 CONSTRAINT [PK_TEDARIKCILER] PRIMARY KEY CLUSTERED 
(
	[TEDARIKCI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEDAVILER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEDAVILER](
	[TEDAVI_ID] [int] IDENTITY(3,3) NOT NULL,
	[RECETE_ID] [int] NOT NULL,
	[TEDAVI_ADI] [nvarchar](50) NOT NULL,
	[TEDAVI_UCRETI] [int] NOT NULL,
	[ACIKLAMA] [nvarchar](100) NULL,
	[SIGORTA_KARSILAMASI] [varchar](50) NULL,
	[TEDAVI_BASLANGIC_TARIHI] [date] NULL,
	[TEDAVI_DURUMU] [nvarchar](50) NOT NULL,
	[GUNCELLEME_TARIHI] [date] NULL,
	[PERSONEL_ID] [int] NULL,
	[NOTLAR] [nvarchar](100) NULL,
 CONSTRAINT [PK_TEDAVILER] PRIMARY KEY CLUSTERED 
(
	[TEDAVI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONLAR]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONLAR](
	[ULKE_KODU] [char](4) NOT NULL,
	[ALAN_KODU] [varchar](7) NOT NULL,
	[TELEFON_NO] [nvarchar](12) NOT NULL,
	[TELEFON_TURU] [nvarchar](12) NOT NULL,
	[BIREY_ID] [int] NULL,
	[SUBE_ID] [int] NULL,
	[SIGORTA_SIRKET_ID] [int] NULL,
 CONSTRAINT [PK_TELEFONLAR_1] PRIMARY KEY CLUSTERED 
(
	[ULKE_KODU] ASC,
	[ALAN_KODU] ASC,
	[TELEFON_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ULKELER]    Script Date: 17.12.2024 20:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ULKELER](
	[ULKE_KODU] [char](4) NOT NULL,
	[ULKE_ADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ULKELER] PRIMARY KEY CLUSTERED 
(
	[ULKE_KODU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADRESLER] ON 

INSERT [dbo].[ADRESLER] ([ADRES_ID], [IL_ID], [ILCE], [ADRES_DETAY], [POSTA_KODU], [BIREY_ID], [SUBE_ID]) VALUES (2, 1, N'Dikili', N'Mah Barış Sk. Gülistan No:5/10 ', N'0897', 1, NULL)
INSERT [dbo].[ADRESLER] ([ADRES_ID], [IL_ID], [ILCE], [ADRES_DETAY], [POSTA_KODU], [BIREY_ID], [SUBE_ID]) VALUES (3, 24, N'Çankaya', N'Ödemiş No:11/1', N'06080', 2, NULL)
INSERT [dbo].[ADRESLER] ([ADRES_ID], [IL_ID], [ILCE], [ADRES_DETAY], [POSTA_KODU], [BIREY_ID], [SUBE_ID]) VALUES (4, 24, N'Gazıemir', N'Turnova Sk Menderes No:34/5', N'06120', 3, NULL)
SET IDENTITY_INSERT [dbo].[ADRESLER] OFF
GO
INSERT [dbo].[ALAN_KODU] ([ALAN_KODU], [SEHIR_ADI_OPERATOR]) VALUES (N'212', N'Istanbul Avrupa Yakası')
INSERT [dbo].[ALAN_KODU] ([ALAN_KODU], [SEHIR_ADI_OPERATOR]) VALUES (N'216', N'Istanbul Anadolu Yakası')
INSERT [dbo].[ALAN_KODU] ([ALAN_KODU], [SEHIR_ADI_OPERATOR]) VALUES (N'224', N'Bursa')
GO
SET IDENTITY_INSERT [dbo].[BIREYLER] ON 

INSERT [dbo].[BIREYLER] ([BIREY_ID], [BIREY_AD], [BIREY_SOYAD], [CINSIYET], [DOGUM_TARIHI], [KIMLIK_NO], [BIREY_TURU]) VALUES (1, N'Ela', N'Dursun', N'Kadın', CAST(N'1988-09-15' AS Date), N'25874663531', N'Hasta')
INSERT [dbo].[BIREYLER] ([BIREY_ID], [BIREY_AD], [BIREY_SOYAD], [CINSIYET], [DOGUM_TARIHI], [KIMLIK_NO], [BIREY_TURU]) VALUES (2, N'Caner', N'Açıkgöz', N'Erkek', CAST(N'1997-05-29' AS Date), N'47965824456', N'Hasta')
INSERT [dbo].[BIREYLER] ([BIREY_ID], [BIREY_AD], [BIREY_SOYAD], [CINSIYET], [DOGUM_TARIHI], [KIMLIK_NO], [BIREY_TURU]) VALUES (3, N'Bekir', N'Ağaoğlu', N'Erkek', CAST(N'1985-11-14' AS Date), N'69488264117', N'Doktor')
SET IDENTITY_INSERT [dbo].[BIREYLER] OFF
GO
SET IDENTITY_INSERT [dbo].[DOKTORLAR] ON 

INSERT [dbo].[DOKTORLAR] ([DOKTOR_ID], [BIREY_ID], [SUBE_ID], [MEZUNIYET_TARIHI], [LISANS_NO], [MESAI_BASLANGIC_SAATI], [MESAI_BITIS_SAATI], [BRANS], [MAASI], [ISE_BASLAMA_TARIHI], [CALISMA_DURUMU]) VALUES (3, 3, 201, CAST(N'2011-05-20' AS Date), N'TR-24846656', CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), N'Göz Hastalıkları, Glaukom Uzman', CAST(60002 AS Decimal(10, 0)), CAST(N'2019-11-01' AS Date), N'AKTIF')
INSERT [dbo].[DOKTORLAR] ([DOKTOR_ID], [BIREY_ID], [SUBE_ID], [MEZUNIYET_TARIHI], [LISANS_NO], [MESAI_BASLANGIC_SAATI], [MESAI_BITIS_SAATI], [BRANS], [MAASI], [ISE_BASLAMA_TARIHI], [CALISMA_DURUMU]) VALUES (4, 9, 201, CAST(N'2019-05-20' AS Date), N'TR-84965563', CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), N'Oftalmoloji, Katarakt Cerrahis', CAST(40002 AS Decimal(10, 0)), CAST(N'2022-05-01' AS Date), N'AKTIF')
INSERT [dbo].[DOKTORLAR] ([DOKTOR_ID], [BIREY_ID], [SUBE_ID], [MEZUNIYET_TARIHI], [LISANS_NO], [MESAI_BASLANGIC_SAATI], [MESAI_BITIS_SAATI], [BRANS], [MAASI], [ISE_BASLAMA_TARIHI], [CALISMA_DURUMU]) VALUES (5, 4, 201, CAST(N'2016-05-25' AS Date), N'TR-545fh5244', CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), N'Retina Uzmanı, Keratokonus Uzmanı', CAST(45002 AS Decimal(10, 0)), CAST(N'2020-09-01' AS Date), N'AKTIF')
SET IDENTITY_INSERT [dbo].[DOKTORLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[E_POSTALAR] ON 

INSERT [dbo].[E_POSTALAR] ([EPOSTA_ID], [EPOSTA_ADRESI], [BIREY_ID], [SUBE_ID]) VALUES (1, N'bekiragaoglu65@gmail.com', 3, NULL)
INSERT [dbo].[E_POSTALAR] ([EPOSTA_ID], [EPOSTA_ADRESI], [BIREY_ID], [SUBE_ID]) VALUES (2, N'bekiragaoglu@gmail.com', 3, NULL)
INSERT [dbo].[E_POSTALAR] ([EPOSTA_ID], [EPOSTA_ADRESI], [BIREY_ID], [SUBE_ID]) VALUES (5, N'aliaslan1111@gmail.com', 4, NULL)
SET IDENTITY_INSERT [dbo].[E_POSTALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[EKIPMAN_BAKIM_KAYITLARI] ON 

INSERT [dbo].[EKIPMAN_BAKIM_KAYITLARI] ([BAKIM_ID], [EKIPMAN_ID], [BAKIM_TARIHI], [TESLIM_TARIHI], [UCRETI], [NOTLAR]) VALUES (1, 1001, CAST(N'2022-05-03' AS Date), CAST(N'2022-05-10T17:00:00.000' AS DateTime), CAST(2000 AS Decimal(18, 0)), N'Işıkları yanmıyor')
INSERT [dbo].[EKIPMAN_BAKIM_KAYITLARI] ([BAKIM_ID], [EKIPMAN_ID], [BAKIM_TARIHI], [TESLIM_TARIHI], [UCRETI], [NOTLAR]) VALUES (201, 8001, CAST(N'2023-07-15' AS Date), CAST(N'2023-07-29T13:30:00.000' AS DateTime), CAST(5000 AS Decimal(18, 0)), N'Sistemsel hata')
INSERT [dbo].[EKIPMAN_BAKIM_KAYITLARI] ([BAKIM_ID], [EKIPMAN_ID], [BAKIM_TARIHI], [TESLIM_TARIHI], [UCRETI], [NOTLAR]) VALUES (401, 1001, CAST(N'2024-04-14' AS Date), CAST(N'2024-04-16T10:00:00.000' AS DateTime), CAST(1000 AS Decimal(18, 0)), N'Camı kırıldı')
SET IDENTITY_INSERT [dbo].[EKIPMAN_BAKIM_KAYITLARI] OFF
GO
SET IDENTITY_INSERT [dbo].[EKIPMANLAR] ON 

INSERT [dbo].[EKIPMANLAR] ([EKIPMAN_ID], [SUBE_ID], [TEDARIKCI_ID], [EKIPMAN_ADI], [EKIPMAN_TURU], [MARKA], [STOK_MIKTARI], [BIRIM_FIYATI], [SON_KULLANMA_TARIHI], [TESLIM_TARIHI], [GARANTI_DURUMU], [GUNCELLEME_TARIHI], [NOTLAR]) VALUES (1, 201, 1, N'Otorefraktometre', N'Göz kırma kusurlarını ölçmek', N'Topcon KR-800', 1, CAST(8.00 AS Decimal(18, 2)), CAST(N'2030-10-31' AS Date), CAST(N'2020-10-31' AS Date), N'3 yıl', CAST(N'2024-12-07' AS Date), NULL)
INSERT [dbo].[EKIPMANLAR] ([EKIPMAN_ID], [SUBE_ID], [TEDARIKCI_ID], [EKIPMAN_ADI], [EKIPMAN_TURU], [MARKA], [STOK_MIKTARI], [BIRIM_FIYATI], [SON_KULLANMA_TARIHI], [TESLIM_TARIHI], [GARANTI_DURUMU], [GUNCELLEME_TARIHI], [NOTLAR]) VALUES (1001, 201, 1, N'Biyomikroskop', N'Muayene Ekipmanı	', N'Zeiss SL-120', 2, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2035-10-31' AS Date), CAST(N'2020-09-01' AS Date), N'3 yıl', CAST(N'2024-12-07' AS Date), N'Düzenli bakım gereklidir.')
INSERT [dbo].[EKIPMANLAR] ([EKIPMAN_ID], [SUBE_ID], [TEDARIKCI_ID], [EKIPMAN_ADI], [EKIPMAN_TURU], [MARKA], [STOK_MIKTARI], [BIRIM_FIYATI], [SON_KULLANMA_TARIHI], [TESLIM_TARIHI], [GARANTI_DURUMU], [GUNCELLEME_TARIHI], [NOTLAR]) VALUES (2001, 201, 1, N'Göz Tansiyon Ölçer', N'Teşhis ve Ölçüm Cihazı', N'Tonopen Avia', 2, CAST(5000.00 AS Decimal(18, 2)), CAST(N'2029-11-01' AS Date), CAST(N'2019-11-01' AS Date), N'1 yıl', CAST(N'2024-12-07' AS Date), N'Tek kullanımlık uçlarla gelir.')
SET IDENTITY_INSERT [dbo].[EKIPMANLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[FATURALAR] ON 

INSERT [dbo].[FATURALAR] ([FATURA_ID], [TEDAVI_ID], [PERSONEL_ID], [INDIRIM], [OLUSTURMA_TARIHI], [GUNCELLEME_TARIHI], [NOTLAR]) VALUES (1, 3, 7, CAST(15 AS Decimal(18, 0)), CAST(N'2022-10-01' AS Date), CAST(N'2024-12-08' AS Date), N'Tedaviye yüzde 15 indirim uygulandı.')
INSERT [dbo].[FATURALAR] ([FATURA_ID], [TEDAVI_ID], [PERSONEL_ID], [INDIRIM], [OLUSTURMA_TARIHI], [GUNCELLEME_TARIHI], [NOTLAR]) VALUES (2, 6, 7, CAST(10 AS Decimal(18, 0)), CAST(N'2020-12-02' AS Date), CAST(N'2024-12-08' AS Date), N'Hastanın sigorta geçerliliği nedeniyle indirim yapıldı.')
INSERT [dbo].[FATURALAR] ([FATURA_ID], [TEDAVI_ID], [PERSONEL_ID], [INDIRIM], [OLUSTURMA_TARIHI], [GUNCELLEME_TARIHI], [NOTLAR]) VALUES (3, 9, 8, CAST(20 AS Decimal(18, 0)), CAST(N'2021-02-03' AS Date), CAST(N'2024-12-08' AS Date), N'Özel kampanya ile yüzde 20 indirim.')
SET IDENTITY_INSERT [dbo].[FATURALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[GORUNTULER] ON 

INSERT [dbo].[GORUNTULER] ([GORUNTULER_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [GORUNTU_TURU], [GORUNTULEME_TARIHI], [GORUNTU_DOSYA], [ACIKLAMA], [PERSONEL_ID]) VALUES (10, 201, 2, 3, N'Retina Görüntüsü', CAST(N'2023-09-15' AS Date), NULL, N'Retina taraması yapıldı, detaylı inceleme gerekli', 7)
SET IDENTITY_INSERT [dbo].[GORUNTULER] OFF
GO
SET IDENTITY_INSERT [dbo].[GOZLUK_RECETELERI] ON 

INSERT [dbo].[GOZLUK_RECETELERI] ([GOZLUK_RECETE_ID], [HASTA_ID], [DOKTOR_ID], [SAG_GOZ_DERECESI], [SOL_GOZ_DERECESI], [SILINDRIK_GUC], [ACI], [GOZLUK_RECETE_NO]) VALUES (4, 6, 6, CAST(-2.25 AS Decimal(4, 2)), CAST(-1.50 AS Decimal(4, 2)), CAST(-0.50 AS Decimal(4, 2)), CAST(90.00 AS Decimal(4, 2)), N'GR202401')
INSERT [dbo].[GOZLUK_RECETELERI] ([GOZLUK_RECETE_ID], [HASTA_ID], [DOKTOR_ID], [SAG_GOZ_DERECESI], [SOL_GOZ_DERECESI], [SILINDRIK_GUC], [ACI], [GOZLUK_RECETE_NO]) VALUES (5, 8, 4, CAST(-3.00 AS Decimal(4, 2)), CAST(-2.75 AS Decimal(4, 2)), CAST(-0.25 AS Decimal(4, 2)), CAST(80.00 AS Decimal(4, 2)), N'GR202402')
INSERT [dbo].[GOZLUK_RECETELERI] ([GOZLUK_RECETE_ID], [HASTA_ID], [DOKTOR_ID], [SAG_GOZ_DERECESI], [SOL_GOZ_DERECESI], [SILINDRIK_GUC], [ACI], [GOZLUK_RECETE_NO]) VALUES (8, 3, 4, CAST(-1.75 AS Decimal(4, 2)), CAST(-2.00 AS Decimal(4, 2)), CAST(-0.75 AS Decimal(4, 2)), CAST(90.00 AS Decimal(4, 2)), N'GR202403')
SET IDENTITY_INSERT [dbo].[GOZLUK_RECETELERI] OFF
GO
SET IDENTITY_INSERT [dbo].[HASTALAR] ON 

INSERT [dbo].[HASTALAR] ([BIREY_ID], [HASTA_ID], [KAN_GRUBU], [KAYIT_TARIHI], [KRONIK_HASTALIKLAR], [ALERJILERI], [VELISI]) VALUES (2, 1, N'B Rh+', NULL, N'Bronhit', N'Polen', NULL)
INSERT [dbo].[HASTALAR] ([BIREY_ID], [HASTA_ID], [KAN_GRUBU], [KAYIT_TARIHI], [KRONIK_HASTALIKLAR], [ALERJILERI], [VELISI]) VALUES (1, 2, N'A Rh-', CAST(N'2024-12-06' AS Date), N'Alerjik Konjonktivit', N'Penisilin', NULL)
INSERT [dbo].[HASTALAR] ([BIREY_ID], [HASTA_ID], [KAN_GRUBU], [KAYIT_TARIHI], [KRONIK_HASTALIKLAR], [ALERJILERI], [VELISI]) VALUES (6, 3, N'A Rh-', CAST(N'2024-12-07' AS Date), N'Katarakt', N'Toz', NULL)
SET IDENTITY_INSERT [dbo].[HASTALAR] OFF
GO
INSERT [dbo].[ILAC_RECETELER] ([RECETE_ID], [ILAC_ADI], [ILAC_MIKTARI], [ILAC_BIRIMI], [KULLANIM_TAVSIYESI]) VALUES (2, N'Xalatan', CAST(1 AS Decimal(18, 0)), N'Şişe', N'Her gece yatmadan önce bir damla sağ ve sol göze.')
INSERT [dbo].[ILAC_RECETELER] ([RECETE_ID], [ILAC_ADI], [ILAC_MIKTARI], [ILAC_BIRIMI], [KULLANIM_TAVSIYESI]) VALUES (4, N'Tobrex', CAST(1 AS Decimal(18, 0)), N'Tüp', N'Günde 3 kez alt göz kapağına ince bir şerit sürülmesi.')
INSERT [dbo].[ILAC_RECETELER] ([RECETE_ID], [ILAC_ADI], [ILAC_MIKTARI], [ILAC_BIRIMI], [KULLANIM_TAVSIYESI]) VALUES (6, N'Refresh Plus', CAST(30 AS Decimal(18, 0)), N'Damla', N'Günde 4 kez kuru hissettikçe birer damla.')
GO
SET IDENTITY_INSERT [dbo].[ILLER] ON 

INSERT [dbo].[ILLER] ([IL_ID], [IL_ADI]) VALUES (1, N'Adana')
INSERT [dbo].[ILLER] ([IL_ID], [IL_ADI]) VALUES (2, N'Adıyaman')
INSERT [dbo].[ILLER] ([IL_ID], [IL_ADI]) VALUES (3, N' Afyon')
SET IDENTITY_INSERT [dbo].[ILLER] OFF
GO
SET IDENTITY_INSERT [dbo].[LABARATUAR_TESTLERI] ON 

INSERT [dbo].[LABARATUAR_TESTLERI] ([LABARATUAR_TEST_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [ISLEM_TURU], [SONUC], [OLUSTURULMA_TARIHI], [GUNCELLEME_TARIHI], [PERSONEL_ID], [NOTLAR]) VALUES (154, 201, 1, 6, N'Muayene', N'Katarakt teşhisi konuldu.', CAST(N'2022-09-01' AS Date), CAST(N'2024-12-08' AS Date), 7, N'Hasta düzenli kontrol önerildi.')
INSERT [dbo].[LABARATUAR_TESTLERI] ([LABARATUAR_TEST_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [ISLEM_TURU], [SONUC], [OLUSTURULMA_TARIHI], [GUNCELLEME_TARIHI], [PERSONEL_ID], [NOTLAR]) VALUES (172, 201, 2, 3, N'Göz Tansiyonu Ölçümü', N'Tansiyon normal çıktı.', CAST(N'2020-12-02' AS Date), CAST(N'2024-12-08' AS Date), 7, N'3 ay sonra tekrar ölçüm yapılacak.')
INSERT [dbo].[LABARATUAR_TESTLERI] ([LABARATUAR_TEST_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [ISLEM_TURU], [SONUC], [OLUSTURULMA_TARIHI], [GUNCELLEME_TARIHI], [PERSONEL_ID], [NOTLAR]) VALUES (190, 301, 3, 4, N'Lazer Tedavisi', N'Başarılı', CAST(N'2023-02-03' AS Date), CAST(N'2024-12-08' AS Date), 8, N'Tedavi sonrası kontrole gerek yok.')
SET IDENTITY_INSERT [dbo].[LABARATUAR_TESTLERI] OFF
GO
SET IDENTITY_INSERT [dbo].[ODEMELER] ON 

INSERT [dbo].[ODEMELER] ([ODEME_ID], [FATURA_ID], [ODEME_TUTARI], [ODEME_TURU], [ODEME_TARIHI], [ODEME_DURUMU]) VALUES (1, 1, CAST(450 AS Decimal(18, 0)), N'Kredi Kartı', CAST(N'2023-05-01' AS Date), N'Tamamlandı')
INSERT [dbo].[ODEMELER] ([ODEME_ID], [FATURA_ID], [ODEME_TUTARI], [ODEME_TURU], [ODEME_TARIHI], [ODEME_DURUMU]) VALUES (2, 2, CAST(300 AS Decimal(18, 0)), N'Nakit', CAST(N'2023-06-02' AS Date), N'Tamamlandı')
INSERT [dbo].[ODEMELER] ([ODEME_ID], [FATURA_ID], [ODEME_TUTARI], [ODEME_TURU], [ODEME_TARIHI], [ODEME_DURUMU]) VALUES (3, 3, CAST(250 AS Decimal(18, 0)), N'Nakit', CAST(N'2023-07-13' AS Date), N'Tamamlandı')
SET IDENTITY_INSERT [dbo].[ODEMELER] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONELLER] ON 

INSERT [dbo].[PERSONELLER] ([BIREY_ID], [PERSONEL_ID], [SUBE_ID], [GOREV], [MAASI], [MESAI_BASLANGIC_SAATI], [MESAI_BITIS_SAATI], [ISE_BASLAMA_TARIHI], [CALISMA_DURUMU], [GUNECLLEME_TARIHI]) VALUES (16, 1, 201, N'Temizlik Görevlisi', CAST(20000.00 AS Decimal(10, 2)), CAST(N'17:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(N'2019-10-30' AS Date), N'AKTIF', CAST(N'2024-12-07' AS Date))
INSERT [dbo].[PERSONELLER] ([BIREY_ID], [PERSONEL_ID], [SUBE_ID], [GOREV], [MAASI], [MESAI_BASLANGIC_SAATI], [MESAI_BITIS_SAATI], [ISE_BASLAMA_TARIHI], [CALISMA_DURUMU], [GUNECLLEME_TARIHI]) VALUES (17, 2, 201, N'Resepsiyonist', CAST(21000.00 AS Decimal(10, 2)), CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'2019-11-01' AS Date), N'AKTIF', CAST(N'2024-12-07' AS Date))
INSERT [dbo].[PERSONELLER] ([BIREY_ID], [PERSONEL_ID], [SUBE_ID], [GOREV], [MAASI], [MESAI_BASLANGIC_SAATI], [MESAI_BITIS_SAATI], [ISE_BASLAMA_TARIHI], [CALISMA_DURUMU], [GUNECLLEME_TARIHI]) VALUES (18, 3, 201, N'Göz Teknikeri', CAST(30000.00 AS Decimal(10, 2)), CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'2021-05-01' AS Date), N'AKTIF', CAST(N'2024-12-07' AS Date))
SET IDENTITY_INSERT [dbo].[PERSONELLER] OFF
GO
SET IDENTITY_INSERT [dbo].[RANDEVULAR] ON 

INSERT [dbo].[RANDEVULAR] ([RANDEVU_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [RANDEVU_TARIHI], [RANDEVU_DURUMU], [SIKAYET], [TEDAVI_PLANI], [GUNCEL_TARIHI], [PERSONEL_ID]) VALUES (4, 201, 1, 6, CAST(N'2024-12-25T15:00:00.000' AS DateTime), N'Beklemede', N'Bulanık görme', N'Kan tahlili yapılacak', CAST(N'2024-12-08' AS Date), 7)
INSERT [dbo].[RANDEVULAR] ([RANDEVU_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [RANDEVU_TARIHI], [RANDEVU_DURUMU], [SIKAYET], [TEDAVI_PLANI], [GUNCEL_TARIHI], [PERSONEL_ID]) VALUES (8, 201, 2, 3, CAST(N'2025-01-15T10:15:00.000' AS DateTime), N'Aktif', N'Bulanık görme', NULL, CAST(N'2024-12-08' AS Date), NULL)
INSERT [dbo].[RANDEVULAR] ([RANDEVU_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [RANDEVU_TARIHI], [RANDEVU_DURUMU], [SIKAYET], [TEDAVI_PLANI], [GUNCEL_TARIHI], [PERSONEL_ID]) VALUES (12, 201, 3, 4, CAST(N'2025-02-10T14:50:00.000' AS DateTime), N'Geçmiş', N'Görüş alanında karanlık veya kör noktalar', N'Diyet Önerileri', CAST(N'2024-12-08' AS Date), 7)
SET IDENTITY_INSERT [dbo].[RANDEVULAR] OFF
GO
SET IDENTITY_INSERT [dbo].[RAPORLAR] ON 

INSERT [dbo].[RAPORLAR] ([RAPOR_ID], [HASTA_ID], [DOKTOR_ID], [SHIKAYET], [TEHSIS], [RAPOR], [OLUSTURULMA_TARIHI], [GUNCELLENME_TARIHI]) VALUES (10, 1, 6, N'Bulanmış görme, baş ağrısı', N'Diğer optik sinir hastalıkları', N'Görme kaybı riski var, tedavi için düzenli takip önerildi', CAST(N'2024-12-01T08:00:00.000' AS DateTime), CAST(N'2024-12-01' AS Date))
INSERT [dbo].[RAPORLAR] ([RAPOR_ID], [HASTA_ID], [DOKTOR_ID], [SHIKAYET], [TEHSIS], [RAPOR], [OLUSTURULMA_TARIHI], [GUNCELLENME_TARIHI]) VALUES (25, 2, 3, N'Gece görme zorluğu', N'Retinitis pigmentosa', N'Gece görüşü kaybı başlangıcı, tedavi için gözlük önerildi', CAST(N'2024-12-02T11:38:00.000' AS DateTime), CAST(N'2024-12-02' AS Date))
INSERT [dbo].[RAPORLAR] ([RAPOR_ID], [HASTA_ID], [DOKTOR_ID], [SHIKAYET], [TEHSIS], [RAPOR], [OLUSTURULMA_TARIHI], [GUNCELLENME_TARIHI]) VALUES (40, 4, 5, N'Gözde ağrı, kızarıklık', N'Konjonktivit', N'Ağrı giderici tedavi verildi, göz damlası önerildi', CAST(N'2024-12-03T00:10:53.000' AS DateTime), CAST(N'2024-12-03' AS Date))
SET IDENTITY_INSERT [dbo].[RAPORLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[RECETELER] ON 

INSERT [dbo].[RECETELER] ([RECETE_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [RECETE_NO], [RECETE_TARIHI]) VALUES (2, 201, 1, 6, N'R001', CAST(N'2022-01-11' AS Date))
INSERT [dbo].[RECETELER] ([RECETE_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [RECETE_NO], [RECETE_TARIHI]) VALUES (4, 201, 2, 3, N'R002', CAST(N'2020-12-01' AS Date))
INSERT [dbo].[RECETELER] ([RECETE_ID], [SUBE_ID], [HASTA_ID], [DOKTOR_ID], [RECETE_NO], [RECETE_TARIHI]) VALUES (6, 201, 3, 4, N'R003', CAST(N'2024-05-15' AS Date))
SET IDENTITY_INSERT [dbo].[RECETELER] OFF
GO
SET IDENTITY_INSERT [dbo].[SIGORTA_POLICE_HASTA] ON 

INSERT [dbo].[SIGORTA_POLICE_HASTA] ([SIGORTA_POLICE_HASTA_ID], [POLICE_ID], [HASTA_ID], [PROVISYON], [BITIS_TARIHI]) VALUES (1, 10, 1, N'SV-2024-PR001', CAST(N'2025-07-14' AS Date))
INSERT [dbo].[SIGORTA_POLICE_HASTA] ([SIGORTA_POLICE_HASTA_ID], [POLICE_ID], [HASTA_ID], [PROVISYON], [BITIS_TARIHI]) VALUES (2, 26, 2, N'SV-2024-PR001', CAST(N'2025-12-15' AS Date))
INSERT [dbo].[SIGORTA_POLICE_HASTA] ([SIGORTA_POLICE_HASTA_ID], [POLICE_ID], [HASTA_ID], [PROVISYON], [BITIS_TARIHI]) VALUES (3, 10, 3, N'SV-2024-PR023', CAST(N'2025-12-01' AS Date))
SET IDENTITY_INSERT [dbo].[SIGORTA_POLICE_HASTA] OFF
GO
SET IDENTITY_INSERT [dbo].[SIGORTA_POLICELERI] ON 

INSERT [dbo].[SIGORTA_POLICELERI] ([POLICE_ID], [SIGORTA_SIRKET_ID], [POLICE_NO], [GECERLILIK_TARIH], [BITIS_TARIHI]) VALUES (10, 10, N'HS-2024-00123', CAST(N'2024-12-01' AS Date), CAST(N'2025-12-01' AS Date))
INSERT [dbo].[SIGORTA_POLICELERI] ([POLICE_ID], [SIGORTA_SIRKET_ID], [POLICE_NO], [GECERLILIK_TARIH], [BITIS_TARIHI]) VALUES (26, 310, N'HS-2024-99123', CAST(N'2024-12-01' AS Date), CAST(N'2025-12-01' AS Date))
INSERT [dbo].[SIGORTA_POLICELERI] ([POLICE_ID], [SIGORTA_SIRKET_ID], [POLICE_NO], [GECERLILIK_TARIH], [BITIS_TARIHI]) VALUES (42, 610, N'HS-2024-9893', CAST(N'2024-12-01' AS Date), CAST(N'2025-12-01' AS Date))
SET IDENTITY_INSERT [dbo].[SIGORTA_POLICELERI] OFF
GO
SET IDENTITY_INSERT [dbo].[SIGORTA_SIRKETI] ON 

INSERT [dbo].[SIGORTA_SIRKETI] ([SIGORTA_SIRKET_ID], [SIGORTA_SIRKET_ADI], [VERGI_NO]) VALUES (10, N'Timurlar', N'006277')
INSERT [dbo].[SIGORTA_SIRKETI] ([SIGORTA_SIRKET_ID], [SIGORTA_SIRKET_ADI], [VERGI_NO]) VALUES (310, N'Allianz', N'4560007035')
INSERT [dbo].[SIGORTA_SIRKETI] ([SIGORTA_SIRKET_ID], [SIGORTA_SIRKET_ADI], [VERGI_NO]) VALUES (610, N'Anadolu Sigorta', N'24798589')
SET IDENTITY_INSERT [dbo].[SIGORTA_SIRKETI] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBELER] ON 

INSERT [dbo].[SUBELER] ([SUBE_ID], [SUBE_ADI], [ACILIS_TARIHI], [DURUMU], [TOPLAM_CALISAN], [KONUM]) VALUES (201, N'ClearView Ankara', CAST(N'2019-10-25' AS Date), N'Aktif', 15, 0xE6100000010CE2E995B20C8144400A68226C78FA3C40)
INSERT [dbo].[SUBELER] ([SUBE_ID], [SUBE_ADI], [ACILIS_TARIHI], [DURUMU], [TOPLAM_CALISAN], [KONUM]) VALUES (301, N'ClearView Izmir', CAST(N'2020-10-25' AS Date), N'Aktif', 20, 0xE6100000010CD93D7958A8354340C5FEB27BF2203B40)
SET IDENTITY_INSERT [dbo].[SUBELER] OFF
GO
SET IDENTITY_INSERT [dbo].[TEDARIKCILER] ON 

INSERT [dbo].[TEDARIKCILER] ([TEDARIKCI_ID], [BIREY_ID]) VALUES (1, 5)
INSERT [dbo].[TEDARIKCILER] ([TEDARIKCI_ID], [BIREY_ID]) VALUES (901, 15)
SET IDENTITY_INSERT [dbo].[TEDARIKCILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TEDAVILER] ON 

INSERT [dbo].[TEDAVILER] ([TEDAVI_ID], [RECETE_ID], [TEDAVI_ADI], [TEDAVI_UCRETI], [ACIKLAMA], [SIGORTA_KARSILAMASI], [TEDAVI_BASLANGIC_TARIHI], [TEDAVI_DURUMU], [GUNCELLEME_TARIHI], [PERSONEL_ID], [NOTLAR]) VALUES (3, 2, N'Katarakt Ameliyatı', 5000, N'Gözdeki kataraktın alınması', N'%80', CAST(N'2024-05-15' AS Date), N'Tamamlandı', CAST(N'2024-12-08' AS Date), 7, N'Ameliyat sonrası hastanın durumu iyi, 1 hafta sonra kontrol')
INSERT [dbo].[TEDAVILER] ([TEDAVI_ID], [RECETE_ID], [TEDAVI_ADI], [TEDAVI_UCRETI], [ACIKLAMA], [SIGORTA_KARSILAMASI], [TEDAVI_BASLANGIC_TARIHI], [TEDAVI_DURUMU], [GUNCELLEME_TARIHI], [PERSONEL_ID], [NOTLAR]) VALUES (6, 4, N'Glaukom Tedavisi	', 3000, N'Göz içi basıncını düzenleyen tedavi', N'%50', CAST(N'2022-09-14' AS Date), N'Tamamlandı', CAST(N'2024-12-08' AS Date), 7, N'Tedaviye yanıt olumlu, takip gerekiyor')
INSERT [dbo].[TEDAVILER] ([TEDAVI_ID], [RECETE_ID], [TEDAVI_ADI], [TEDAVI_UCRETI], [ACIKLAMA], [SIGORTA_KARSILAMASI], [TEDAVI_BASLANGIC_TARIHI], [TEDAVI_DURUMU], [GUNCELLEME_TARIHI], [PERSONEL_ID], [NOTLAR]) VALUES (9, 6, N'Retina Tedavisi', 4500, N'Retina hastalıkları için tedavi', N'%70', CAST(N'2020-11-01' AS Date), N'Tamamlandı', CAST(N'2024-12-08' AS Date), 7, N'İyileşme süreci düzenli, 2 hafta sonra kontrol')
SET IDENTITY_INSERT [dbo].[TEDAVILER] OFF
GO
INSERT [dbo].[TELEFONLAR] ([ULKE_KODU], [ALAN_KODU], [TELEFON_NO], [TELEFON_TURU], [BIREY_ID], [SUBE_ID], [SIGORTA_SIRKET_ID]) VALUES (N'+7  ', N'551', N'235486998', N'Cep', 7, NULL, NULL)
INSERT [dbo].[TELEFONLAR] ([ULKE_KODU], [ALAN_KODU], [TELEFON_NO], [TELEFON_TURU], [BIREY_ID], [SUBE_ID], [SIGORTA_SIRKET_ID]) VALUES (N'+7  ', N'7894', N'4585684', N'Cep', 47, NULL, NULL)
INSERT [dbo].[TELEFONLAR] ([ULKE_KODU], [ALAN_KODU], [TELEFON_NO], [TELEFON_TURU], [BIREY_ID], [SUBE_ID], [SIGORTA_SIRKET_ID]) VALUES (N'+7  ', N'7894', N'5484157', N'Cep', 48, NULL, NULL)
GO
INSERT [dbo].[ULKELER] ([ULKE_KODU], [ULKE_ADI]) VALUES (N'+49 ', N'Almanya')
INSERT [dbo].[ULKELER] ([ULKE_KODU], [ULKE_ADI]) VALUES (N'+1  ', N'Amerika Birleşik Devletleri')
INSERT [dbo].[ULKELER] ([ULKE_KODU], [ULKE_ADI]) VALUES (N'+54 ', N'Arjantin')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BIREYLER]    Script Date: 17.12.2024 20:52:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BIREYLER] ON [dbo].[BIREYLER]
(
	[KIMLIK_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BIREYLER_KIMLIK_NO]    Script Date: 17.12.2024 20:52:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BIREYLER_KIMLIK_NO] ON [dbo].[BIREYLER]
(
	[KIMLIK_NO] ASC
)
WHERE ([KIMLIK_NO] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DOKTORLAR]    Script Date: 17.12.2024 20:52:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DOKTORLAR] ON [dbo].[DOKTORLAR]
(
	[LISANS_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_E_POSTALAR]    Script Date: 17.12.2024 20:52:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_E_POSTALAR] ON [dbo].[E_POSTALAR]
(
	[EPOSTA_ADRESI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ULKELER]    Script Date: 17.12.2024 20:52:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ULKELER] ON [dbo].[ULKELER]
(
	[ULKE_ADI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOKTORLAR] ADD  CONSTRAINT [DF_DOKTORLAR_CALISMA_DURUMU]  DEFAULT (N'AKTIF') FOR [CALISMA_DURUMU]
GO
ALTER TABLE [dbo].[EKIPMANLAR] ADD  CONSTRAINT [DF_EKIPMANLAR_GUNCELLEME_TARIHI]  DEFAULT (getdate()) FOR [GUNCELLEME_TARIHI]
GO
ALTER TABLE [dbo].[FATURALAR] ADD  CONSTRAINT [DF_FATURALAR_GUNCELLEME_TARIHI]  DEFAULT (getdate()) FOR [GUNCELLEME_TARIHI]
GO
ALTER TABLE [dbo].[GORUNTULER] ADD  CONSTRAINT [DF_GORUNTULER_GORUNTULEME_TARIHI]  DEFAULT (getdate()) FOR [GORUNTULEME_TARIHI]
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI] ADD  CONSTRAINT [DF_LABARATUAR_TESTLERI_GUNCELLEME_TARIHI]  DEFAULT (getdate()) FOR [GUNCELLEME_TARIHI]
GO
ALTER TABLE [dbo].[ODEMELER] ADD  CONSTRAINT [DF_ODEMELER_ODEME_TARIHI]  DEFAULT (getdate()) FOR [ODEME_TARIHI]
GO
ALTER TABLE [dbo].[ODEMELER] ADD  CONSTRAINT [DF_ODEMELER_ODEME_DURUMU]  DEFAULT (N'BEKLIYOR') FOR [ODEME_DURUMU]
GO
ALTER TABLE [dbo].[PERSONELLER] ADD  CONSTRAINT [DF_PERSONELLER_CALISMA_DURUMU]  DEFAULT (N'AKTIF') FOR [CALISMA_DURUMU]
GO
ALTER TABLE [dbo].[PERSONELLER] ADD  CONSTRAINT [DF_PERSONELLER_GUNECLLEME_TARIHI]  DEFAULT (getdate()) FOR [GUNECLLEME_TARIHI]
GO
ALTER TABLE [dbo].[RANDEVULAR] ADD  CONSTRAINT [DF_RANDEVULAR_RANDEVU_DURUMU]  DEFAULT (N'Aktif') FOR [RANDEVU_DURUMU]
GO
ALTER TABLE [dbo].[RANDEVULAR] ADD  CONSTRAINT [DF_RANDEVULAR_GUNCEL_TARIHI]  DEFAULT (getdate()) FOR [GUNCEL_TARIHI]
GO
ALTER TABLE [dbo].[RAPORLAR] ADD  CONSTRAINT [DF_RAPORLAR_GUNCELLENME_TARIHI]  DEFAULT (getdate()) FOR [GUNCELLENME_TARIHI]
GO
ALTER TABLE [dbo].[SUBELER] ADD  CONSTRAINT [DF_SUBELER_DURUMU]  DEFAULT (N'Aktif') FOR [DURUMU]
GO
ALTER TABLE [dbo].[TEDAVILER] ADD  CONSTRAINT [DF_TEDAVILER_TEDAVI_DURUMU]  DEFAULT (N'Tamamlandı') FOR [TEDAVI_DURUMU]
GO
ALTER TABLE [dbo].[TEDAVILER] ADD  CONSTRAINT [DF_TEDAVILER_GUNCELLEME_TARIHI]  DEFAULT (getdate()) FOR [GUNCELLEME_TARIHI]
GO
ALTER TABLE [dbo].[ADRESLER]  WITH CHECK ADD  CONSTRAINT [FK_ADRESLER_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[ADRESLER] CHECK CONSTRAINT [FK_ADRESLER_BIREYLER]
GO
ALTER TABLE [dbo].[ADRESLER]  WITH CHECK ADD  CONSTRAINT [FK_ADRESLER_ILLER] FOREIGN KEY([IL_ID])
REFERENCES [dbo].[ILLER] ([IL_ID])
GO
ALTER TABLE [dbo].[ADRESLER] CHECK CONSTRAINT [FK_ADRESLER_ILLER]
GO
ALTER TABLE [dbo].[ADRESLER]  WITH CHECK ADD  CONSTRAINT [FK_ADRESLER_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[ADRESLER] CHECK CONSTRAINT [FK_ADRESLER_SUBELER]
GO
ALTER TABLE [dbo].[DOKTORLAR]  WITH CHECK ADD  CONSTRAINT [FK_DOKTORLAR_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[DOKTORLAR] CHECK CONSTRAINT [FK_DOKTORLAR_BIREYLER]
GO
ALTER TABLE [dbo].[DOKTORLAR]  WITH CHECK ADD  CONSTRAINT [FK_DOKTORLAR_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[DOKTORLAR] CHECK CONSTRAINT [FK_DOKTORLAR_SUBELER]
GO
ALTER TABLE [dbo].[E_POSTALAR]  WITH CHECK ADD  CONSTRAINT [FK_E_POSTALAR_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[E_POSTALAR] CHECK CONSTRAINT [FK_E_POSTALAR_BIREYLER]
GO
ALTER TABLE [dbo].[E_POSTALAR]  WITH CHECK ADD  CONSTRAINT [FK_E_POSTALAR_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[E_POSTALAR] CHECK CONSTRAINT [FK_E_POSTALAR_SUBELER]
GO
ALTER TABLE [dbo].[EKIPMAN_BAKIM_KAYITLARI]  WITH CHECK ADD  CONSTRAINT [FK_EKIPMAN_BAKIM_KAYITLARI_EKIPMANLAR1] FOREIGN KEY([EKIPMAN_ID])
REFERENCES [dbo].[EKIPMANLAR] ([EKIPMAN_ID])
GO
ALTER TABLE [dbo].[EKIPMAN_BAKIM_KAYITLARI] CHECK CONSTRAINT [FK_EKIPMAN_BAKIM_KAYITLARI_EKIPMANLAR1]
GO
ALTER TABLE [dbo].[EKIPMANLAR]  WITH CHECK ADD  CONSTRAINT [FK_EKIPMANLAR_EKIPMANLAR] FOREIGN KEY([EKIPMAN_ID])
REFERENCES [dbo].[EKIPMANLAR] ([EKIPMAN_ID])
GO
ALTER TABLE [dbo].[EKIPMANLAR] CHECK CONSTRAINT [FK_EKIPMANLAR_EKIPMANLAR]
GO
ALTER TABLE [dbo].[EKIPMANLAR]  WITH CHECK ADD  CONSTRAINT [FK_EKIPMANLAR_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[EKIPMANLAR] CHECK CONSTRAINT [FK_EKIPMANLAR_SUBELER]
GO
ALTER TABLE [dbo].[EKIPMANLAR]  WITH CHECK ADD  CONSTRAINT [FK_EKIPMANLAR_TEDARIKCILER] FOREIGN KEY([TEDARIKCI_ID])
REFERENCES [dbo].[TEDARIKCILER] ([TEDARIKCI_ID])
GO
ALTER TABLE [dbo].[EKIPMANLAR] CHECK CONSTRAINT [FK_EKIPMANLAR_TEDARIKCILER]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_PERSONELLER] FOREIGN KEY([PERSONEL_ID])
REFERENCES [dbo].[PERSONELLER] ([PERSONEL_ID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_PERSONELLER]
GO
ALTER TABLE [dbo].[FATURALAR]  WITH CHECK ADD  CONSTRAINT [FK_FATURALAR_TEDAVILER] FOREIGN KEY([TEDAVI_ID])
REFERENCES [dbo].[TEDAVILER] ([TEDAVI_ID])
GO
ALTER TABLE [dbo].[FATURALAR] CHECK CONSTRAINT [FK_FATURALAR_TEDAVILER]
GO
ALTER TABLE [dbo].[GORUNTULER]  WITH CHECK ADD  CONSTRAINT [FK_GORUNTULER_DOKTORLAR] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[DOKTORLAR] ([DOKTOR_ID])
GO
ALTER TABLE [dbo].[GORUNTULER] CHECK CONSTRAINT [FK_GORUNTULER_DOKTORLAR]
GO
ALTER TABLE [dbo].[GORUNTULER]  WITH CHECK ADD  CONSTRAINT [FK_GORUNTULER_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[GORUNTULER] CHECK CONSTRAINT [FK_GORUNTULER_HASTALAR]
GO
ALTER TABLE [dbo].[GORUNTULER]  WITH CHECK ADD  CONSTRAINT [FK_GORUNTULER_PERSONELLER] FOREIGN KEY([PERSONEL_ID])
REFERENCES [dbo].[PERSONELLER] ([PERSONEL_ID])
GO
ALTER TABLE [dbo].[GORUNTULER] CHECK CONSTRAINT [FK_GORUNTULER_PERSONELLER]
GO
ALTER TABLE [dbo].[GORUNTULER]  WITH CHECK ADD  CONSTRAINT [FK_GORUNTULER_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[GORUNTULER] CHECK CONSTRAINT [FK_GORUNTULER_SUBELER]
GO
ALTER TABLE [dbo].[GOZLUK_RECETELERI]  WITH CHECK ADD  CONSTRAINT [FK_GOZLUK_RECETELERI_DOKTORLAR] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[DOKTORLAR] ([DOKTOR_ID])
GO
ALTER TABLE [dbo].[GOZLUK_RECETELERI] CHECK CONSTRAINT [FK_GOZLUK_RECETELERI_DOKTORLAR]
GO
ALTER TABLE [dbo].[GOZLUK_RECETELERI]  WITH CHECK ADD  CONSTRAINT [FK_GOZLUK_RECETELERI_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[GOZLUK_RECETELERI] CHECK CONSTRAINT [FK_GOZLUK_RECETELERI_HASTALAR]
GO
ALTER TABLE [dbo].[HASTALAR]  WITH CHECK ADD  CONSTRAINT [FK_HASTALAR_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[HASTALAR] CHECK CONSTRAINT [FK_HASTALAR_BIREYLER]
GO
ALTER TABLE [dbo].[ILAC_RECETELER]  WITH CHECK ADD  CONSTRAINT [FK_ILAC_RECETELER_RECETELER] FOREIGN KEY([RECETE_ID])
REFERENCES [dbo].[RECETELER] ([RECETE_ID])
GO
ALTER TABLE [dbo].[ILAC_RECETELER] CHECK CONSTRAINT [FK_ILAC_RECETELER_RECETELER]
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI]  WITH CHECK ADD  CONSTRAINT [FK_LABARATUAR_TESTLERI_DOKTORLAR] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[DOKTORLAR] ([DOKTOR_ID])
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI] CHECK CONSTRAINT [FK_LABARATUAR_TESTLERI_DOKTORLAR]
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI]  WITH CHECK ADD  CONSTRAINT [FK_LABARATUAR_TESTLERI_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI] CHECK CONSTRAINT [FK_LABARATUAR_TESTLERI_HASTALAR]
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI]  WITH CHECK ADD  CONSTRAINT [FK_LABARATUAR_TESTLERI_PERSONELLER] FOREIGN KEY([PERSONEL_ID])
REFERENCES [dbo].[PERSONELLER] ([PERSONEL_ID])
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI] CHECK CONSTRAINT [FK_LABARATUAR_TESTLERI_PERSONELLER]
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI]  WITH CHECK ADD  CONSTRAINT [FK_LABARATUAR_TESTLERI_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[LABARATUAR_TESTLERI] CHECK CONSTRAINT [FK_LABARATUAR_TESTLERI_SUBELER]
GO
ALTER TABLE [dbo].[ODEMELER]  WITH CHECK ADD  CONSTRAINT [FK_ODEMELER_FATURALAR] FOREIGN KEY([FATURA_ID])
REFERENCES [dbo].[FATURALAR] ([FATURA_ID])
GO
ALTER TABLE [dbo].[ODEMELER] CHECK CONSTRAINT [FK_ODEMELER_FATURALAR]
GO
ALTER TABLE [dbo].[PERSONELLER]  WITH CHECK ADD  CONSTRAINT [FK_PERSONELLER_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[PERSONELLER] CHECK CONSTRAINT [FK_PERSONELLER_BIREYLER]
GO
ALTER TABLE [dbo].[PERSONELLER]  WITH CHECK ADD  CONSTRAINT [FK_PERSONELLER_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[PERSONELLER] CHECK CONSTRAINT [FK_PERSONELLER_SUBELER]
GO
ALTER TABLE [dbo].[RANDEVULAR]  WITH CHECK ADD  CONSTRAINT [FK_RANDEVULAR_DOKTORLAR] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[DOKTORLAR] ([DOKTOR_ID])
GO
ALTER TABLE [dbo].[RANDEVULAR] CHECK CONSTRAINT [FK_RANDEVULAR_DOKTORLAR]
GO
ALTER TABLE [dbo].[RANDEVULAR]  WITH CHECK ADD  CONSTRAINT [FK_RANDEVULAR_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[RANDEVULAR] CHECK CONSTRAINT [FK_RANDEVULAR_HASTALAR]
GO
ALTER TABLE [dbo].[RANDEVULAR]  WITH CHECK ADD  CONSTRAINT [FK_RANDEVULAR_PERSONELLER] FOREIGN KEY([PERSONEL_ID])
REFERENCES [dbo].[PERSONELLER] ([PERSONEL_ID])
GO
ALTER TABLE [dbo].[RANDEVULAR] CHECK CONSTRAINT [FK_RANDEVULAR_PERSONELLER]
GO
ALTER TABLE [dbo].[RANDEVULAR]  WITH CHECK ADD  CONSTRAINT [FK_RANDEVULAR_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[RANDEVULAR] CHECK CONSTRAINT [FK_RANDEVULAR_SUBELER]
GO
ALTER TABLE [dbo].[RAPORLAR]  WITH CHECK ADD  CONSTRAINT [FK_RAPORLAR_DOKTORLAR] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[DOKTORLAR] ([DOKTOR_ID])
GO
ALTER TABLE [dbo].[RAPORLAR] CHECK CONSTRAINT [FK_RAPORLAR_DOKTORLAR]
GO
ALTER TABLE [dbo].[RAPORLAR]  WITH CHECK ADD  CONSTRAINT [FK_RAPORLAR_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[RAPORLAR] CHECK CONSTRAINT [FK_RAPORLAR_HASTALAR]
GO
ALTER TABLE [dbo].[RECETELER]  WITH CHECK ADD  CONSTRAINT [FK_RECETELER_DOKTORLAR] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[DOKTORLAR] ([DOKTOR_ID])
GO
ALTER TABLE [dbo].[RECETELER] CHECK CONSTRAINT [FK_RECETELER_DOKTORLAR]
GO
ALTER TABLE [dbo].[RECETELER]  WITH CHECK ADD  CONSTRAINT [FK_RECETELER_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[RECETELER] CHECK CONSTRAINT [FK_RECETELER_HASTALAR]
GO
ALTER TABLE [dbo].[RECETELER]  WITH CHECK ADD  CONSTRAINT [FK_RECETELER_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[RECETELER] CHECK CONSTRAINT [FK_RECETELER_SUBELER]
GO
ALTER TABLE [dbo].[RECETELER]  WITH CHECK ADD  CONSTRAINT [FK_RECETELER_TEDAVILER] FOREIGN KEY([RECETE_ID])
REFERENCES [dbo].[RECETELER] ([RECETE_ID])
GO
ALTER TABLE [dbo].[RECETELER] CHECK CONSTRAINT [FK_RECETELER_TEDAVILER]
GO
ALTER TABLE [dbo].[SIGORTA_POLICE_HASTA]  WITH CHECK ADD  CONSTRAINT [FK_SIGORTA_POLICE_HASTA_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[SIGORTA_POLICE_HASTA] CHECK CONSTRAINT [FK_SIGORTA_POLICE_HASTA_HASTALAR]
GO
ALTER TABLE [dbo].[SIGORTA_POLICE_HASTA]  WITH CHECK ADD  CONSTRAINT [FK_SIGORTA_POLICE_HASTA_SIGORTA_POLICELERI] FOREIGN KEY([POLICE_ID])
REFERENCES [dbo].[SIGORTA_POLICELERI] ([POLICE_ID])
GO
ALTER TABLE [dbo].[SIGORTA_POLICE_HASTA] CHECK CONSTRAINT [FK_SIGORTA_POLICE_HASTA_SIGORTA_POLICELERI]
GO
ALTER TABLE [dbo].[SIGORTA_POLICELERI]  WITH CHECK ADD  CONSTRAINT [FK_SIGORTA_POLICELERI_SIGORTA_SIRKETI] FOREIGN KEY([SIGORTA_SIRKET_ID])
REFERENCES [dbo].[SIGORTA_SIRKETI] ([SIGORTA_SIRKET_ID])
GO
ALTER TABLE [dbo].[SIGORTA_POLICELERI] CHECK CONSTRAINT [FK_SIGORTA_POLICELERI_SIGORTA_SIRKETI]
GO
ALTER TABLE [dbo].[TEDARIKCILER]  WITH CHECK ADD  CONSTRAINT [FK_TEDARIKCILER_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[TEDARIKCILER] CHECK CONSTRAINT [FK_TEDARIKCILER_BIREYLER]
GO
ALTER TABLE [dbo].[TEDAVILER]  WITH CHECK ADD  CONSTRAINT [FK_TEDAVILER_PERSONELLER] FOREIGN KEY([PERSONEL_ID])
REFERENCES [dbo].[PERSONELLER] ([PERSONEL_ID])
GO
ALTER TABLE [dbo].[TEDAVILER] CHECK CONSTRAINT [FK_TEDAVILER_PERSONELLER]
GO
ALTER TABLE [dbo].[TEDAVILER]  WITH CHECK ADD  CONSTRAINT [FK_TEDAVILER_RECETELER] FOREIGN KEY([RECETE_ID])
REFERENCES [dbo].[RECETELER] ([RECETE_ID])
GO
ALTER TABLE [dbo].[TEDAVILER] CHECK CONSTRAINT [FK_TEDAVILER_RECETELER]
GO
ALTER TABLE [dbo].[TELEFONLAR]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONLAR_ALAN_KODU] FOREIGN KEY([ALAN_KODU])
REFERENCES [dbo].[ALAN_KODU] ([ALAN_KODU])
GO
ALTER TABLE [dbo].[TELEFONLAR] CHECK CONSTRAINT [FK_TELEFONLAR_ALAN_KODU]
GO
ALTER TABLE [dbo].[TELEFONLAR]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONLAR_BIREYLER] FOREIGN KEY([BIREY_ID])
REFERENCES [dbo].[BIREYLER] ([BIREY_ID])
GO
ALTER TABLE [dbo].[TELEFONLAR] CHECK CONSTRAINT [FK_TELEFONLAR_BIREYLER]
GO
ALTER TABLE [dbo].[TELEFONLAR]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONLAR_SIGORTA_SIRKETI] FOREIGN KEY([SIGORTA_SIRKET_ID])
REFERENCES [dbo].[SIGORTA_SIRKETI] ([SIGORTA_SIRKET_ID])
GO
ALTER TABLE [dbo].[TELEFONLAR] CHECK CONSTRAINT [FK_TELEFONLAR_SIGORTA_SIRKETI]
GO
ALTER TABLE [dbo].[TELEFONLAR]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONLAR_SUBELER] FOREIGN KEY([SUBE_ID])
REFERENCES [dbo].[SUBELER] ([SUBE_ID])
GO
ALTER TABLE [dbo].[TELEFONLAR] CHECK CONSTRAINT [FK_TELEFONLAR_SUBELER]
GO
ALTER TABLE [dbo].[TELEFONLAR]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONLAR_ULKELER] FOREIGN KEY([ULKE_KODU])
REFERENCES [dbo].[ULKELER] ([ULKE_KODU])
GO
ALTER TABLE [dbo].[TELEFONLAR] CHECK CONSTRAINT [FK_TELEFONLAR_ULKELER]
GO
ALTER TABLE [dbo].[BIREYLER]  WITH CHECK ADD  CONSTRAINT [CHK_CINSIYET] CHECK  (([CINSIYET]='Diğer' OR [CINSIYET]='Kadın' OR [CINSIYET]='Erkek'))
GO
ALTER TABLE [dbo].[BIREYLER] CHECK CONSTRAINT [CHK_CINSIYET]
GO
USE [master]
GO
